@import "variable";

html, body {
  height: 100%;
}

.card-border-angle {
  position: relative;
  border: 2px solid @default-background-color;
  box-sizing: border-box;
  background-color: @default-background-color;

  &::before {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    background: url("../images/row-line.png") no-repeat;
    max-width: 170px;
    width: 40%;
    max-height: 45px;
    height: 20%;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    background: url("../images/column-line.png") no-repeat bottom right;
    max-height: 170px;
    height: 40%;
    max-width: 45px;
    width: 20%;
  }
}

.ant-dropdown-menu {
  .card-border-angle();
  padding: 20px 0;
  background-color: @default-background-color;

  * {
    color: @default-text-color;
  }
}

#root {
  height: 100%;
  width: 100%;
  background: url("../images/app-background-image.jpg") no-repeat @default-background-color;
  background-size: cover;
  overflow: auto;
  position: relative;

  * {
    background-color: transparent;
    color: #ffffff;
  }

  .ant-table-thead {
    * {
      color: #3486da;
      font-weight: bolder;
    }
  }

  .ant-layout-sider {
    box-sizing: border-box;
    background-color: @default-background-color;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      background: url("../images/column-line.png") no-repeat bottom;
      background-size: 100%;
      width: 45px;
      height: 100%;
      z-index: -1;
    }
  }

  .ant-pro-sider-logo h1 {
    color: #20dbfd !important;
    text-shadow: 0 0 100px #20dbfd;
  }

  .ant-pro-table {
    padding: 20px 20px;
    .card-border-angle();
  }

  .ant-pro-card {
    .card-border-angle();
  }

}
